.rightSide {
    height: 100%;

    & * > h3  {
        margin-top: 20px;
    }
}

.rightSide__card {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: scroll;
}

.rightSide__table {
    flex: 1;
}

.rightSide__lineGraph {
    flex: 1;
}

.table {
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow: scroll;
    margin-top: 10px;

    tr {
        display: flex;
        justify-content: space-between;

        td {
            padding-right: 1rem;
        }
    }

    tr:nth-of-type(odd) {
        background-color: #f5f6fa;
    }
}

.line__graph {
    flex-grow: 1;
}