.app__left {
    flex: 0.8;
}

.app__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.app__stats {
    display: flex;
    justify-content: space-between;
}